<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<body>
    
    </ul>

    <h1>My Webpage</h1>
    <div id = "a">nooo</div>
    <div id = "b"></div>
    <div id = "gamma"></div>
</body>
<script>
    // import {
    //     Gyroscope
    // }from 
    // let gyr = null;
    // try{
    //     gyr = new Gyroscope();
    // };

    // setInterval(function(gyr){
    //     $.post()

    // },3000);
    // window.alert("please");
    $("h1").text("run");
    // navigator.permissions.query({ name: 'gyroscope' })
    // .then(result => {
    //     $("h1").text(result.state);
    // if (result.state === 'denied') {
        
    //     return;
    // }
    // // Use the sensor.
    
    try{
        let sensor = new Gyroscope({frequency  : 1});
        sensor.start();
        sensor.addEventListener("reading",function(e){
            console.log("pls");
            $("#a").text(e.target.x);
            $("#b").text(e.target.y);
            $("#gamma").text(e.target.z);
        });
    }catch(error){
        window.alert(error);
    }
    
    // });
</script>
</html>